# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Entornos virtuales
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
